Repository lksh-p/match, pull requests merged in 2025-08, with the labels that each got.

#12 add server on echo for rest api endpoints
  core/cmd/main.go
  core/go.mod
  core/go.sum
  core/internal/transport/middleware.go
  core/internal/transport/server.go
Labels: enhancement

#8 chore: fix build, add build tag to makefile
  .gitignore
  core/Makefile
  core/go.mod
  core/go.sum
Labels: bugfix

#26 add pingpong
  core/internal/handlers/handlers.go
  core/internal/transport/server.go
Labels: enhancement

#37 add infrastructure
  .idea/match.iml
  .idea/modules.xml
  .idea/vcs.xml
  core/cmd/main.go
  core/domain/errors.go
  core/domain/models.go
  core/go.mod
  core/go.sum
  core/infra/config.go
  core/infra/postgres.go
  core/internal/handlers/handlers.go
  core/internal/services/parser/players_config.go
  core/internal/services/players/register.go
  core/internal/transport/middleware.go
  core/pkg/errs/players.go
Labels: enhancement

#91 Changed models to actual sheme
  core/domain/models.go
Labels: core

#214 fix team not deleting after captain left
  core/internal/application/repositories/team.go
  core/internal/application/services/activities/delete_player_from_activity.go
  core/internal/application/services/activities/types.go
Labels: bugfix, core, critical

#209 Init miniapp
  miniapp/angular.json
  miniapp/flake.lock
  miniapp/flake.nix
  miniapp/openapi.yaml
  miniapp/package-lock.json
  miniapp/package.json
  miniapp/public/favicon.ico
  miniapp/public/support.jpg
  miniapp/public/support2.jpg
  miniapp/src/app/app.component.html
  miniapp/src/app/app.component.scss
  miniapp/src/app/app.component.ts
  miniapp/src/app/app.config.ts
  miniapp/src/app/app.routes.ts
  miniapp/src/app/components/activity-list/activity-list.component.html
  miniapp/src/app/components/activity-list/activity-list.component.scss
  miniapp/src/app/components/activity-list/activity-list.component.spec.ts
  miniapp/src/app/components/activity-list/activity-list.component.ts
  miniapp/src/app/components/loader/loader.component.html
  miniapp/src/app/components/loader/loader.component.scss
  miniapp/src/app/components/loader/loader.component.ts
  miniapp/src/app/components/menu/menu.component.html
  miniapp/src/app/components/menu/menu.component.scss
  miniapp/src/app/components/menu/menu.component.ts
  miniapp/src/app/components/sport-list/sport-list.component.html
  miniapp/src/app/components/sport-list/sport-list.component.scss
  miniapp/src/app/components/sport-list/sport-list.component.spec.ts
  miniapp/src/app/components/sport-list/sport-list.component.ts
  miniapp/src/app/pages/activity/activity.component.html
  miniapp/src/app/pages/activity/activity.component.scss
  miniapp/src/app/pages/activity/activity.component.ts
  miniapp/src/app/pages/general/general.component.html
  miniapp/src/app/pages/general/general.component.scss
  miniapp/src/app/pages/general/general.component.ts
  miniapp/src/app/pages/not-found/not-found.component.ts
  miniapp/src/app/pages/profile/profile.component.html
  miniapp/src/app/pages/profile/profile.component.scss
  miniapp/src/app/pages/profile/profile.component.ts
  miniapp/src/app/pages/sport/sport.component.html
  miniapp/src/app/pages/sport/sport.component.scss
  miniapp/src/app/pages/sport/sport.component.ts
  miniapp/src/app/pages/support/support.component.html
  miniapp/src/app/pages/support/support.component.scss
  miniapp/src/app/pages/support/support.component.ts
  miniapp/src/app/pages/test/test.component.html
  miniapp/src/app/pages/test/test.component.scss
  miniapp/src/app/pages/test/test.component.ts
  miniapp/src/app/services/menu.service.ts
  miniapp/src/app/services/telegram.service.ts
  miniapp/src/index.html
  miniapp/src/main.ts
  miniapp/src/styles.scss
  miniapp/tsconfig.app.json
  miniapp/tsconfig.json
  miniapp/tsconfig.spec.json
Labels: miniapp

#166 Fix CI
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  bff/Makefile
  bff/docker-compose.test.yml
  bff/test.dockerfile
  core/.env.example
  core/Makefile
  core/dev.dockerfile
  core/docker-compose.dev.yml
  core/docker-compose.test.yml
  core/go.mod
  core/migrations/upgrade.sh
  core/test.dockerfile
  core/tools.go
Labels: core, chore, bff

#217 add notifications in core
  core/cmd/wireset/wireset.go
  core/go.mod
  core/internal/application/handlers/handlers.go
  core/internal/application/handlers/notifications.go
  core/internal/application/repositories/notifications.go
  core/internal/application/repositories/queries/notification/create_notification.sql
  core/internal/application/repositories/queries/notification/get_current_notifications.sql
  core/internal/application/repositories/queries/notification/get_executed_notifications.sql
  core/internal/application/repositories/queries/notification/get_notification_existance.sql
  core/internal/application/services/notifications/service.go
  core/internal/domain/dao/models.go
  core/internal/domain/services/dtos.go
  core/internal/domain/services/errors.go
  core/migrations/00003_add_notifications.sql
  docs/api/openapi.yaml
Labels: core
